@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    margin: 0;
    font-family: 'Merienda One', sans-serif;
    background-color: #836767;
    color: #f8f8f8;
}

header {
    background-color: #524141;
    padding: 15px 0;
}

.titulo {
    text-align: center;
    padding: 10px 20px;
    background: #836767; 
}

.titulo h1 {
    font-size: 4rem;
    color: #f5f5f5;
    margin-bottom: 50px;
}

.titulo p {
    margin-top: 100px; 
    font-size: 1.5rem;
    margin: 15px 0;
}

.titulo .botao {
    margin-top: 50px; 
    display: inline-block; 
    width: 400px;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 12px 25px;
}

.conteudo h1 {
    font-size: 3.2rem;
    color: #f5f5f5;
    margin-bottom: 50px;
    margin-top: 10px;
}

.botao {
    display: inline-block;
    padding: 12px 25px;
    background: #d16b32;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.botao:hover {
    background: #a64f22;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a.ativo {
    color: #c88a4b;
}

.logo {
    height: 100px;
}

main.conteudo {
    text-align: center;
    padding: 50px 20px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;

}

.card {
    background-color: #524141;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
}

.card {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
}

.prato-dia {
    text-align: center;
    padding: 60px 20px;
    background: #836767;
}

.card2 {
    background: #524141;
    padding: 25px 40px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.card2 .item {
    width: 250px; 
    text-align: center;
}

.card2 img {
    width: 100%;
    max-width: 250px; 
    border-radius: 10px;
    margin: 15px 0;
    height: 160px;     
    object-fit: cover; 
}


.depoimentos {
    background: #836767;
    padding: 60px 20px;
    text-align: center;
}

.depoimento {
    background: #fff;
    color: #111;
    max-width: 600px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.sobre-nos {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.historia {
    background: #524141;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.historia h2 {
    margin-top: 0;
    font-size: 2rem;
    color: #ffff;
}

.historia p {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.horarios {
    background: #524141;
    padding: 40px 20px;
    margin: 40px auto;
    text-align: center;
    border-radius: 12px;
    max-width: 700px;
}

.horarios p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.localizacao {
    background: #524141;
    padding: 40px 20px;
    margin: 40px auto 60px auto;
    border-radius: 12px;
    text-align: center;
    max-width: 700px;
}

.localizacao iframe {
    margin-top: 20px;
    border-radius: 10px;
}

.contato-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.formulario input, .formulario textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.formulario button {
    background-color: #c88a4b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-whatsapp {
    background-color: #c88a4b;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    border-radius: 12px;
    max-width: 100px;
}

footer {
    color: #f8f8f8;
    text-align: center;
    background-color: #524141;
    padding: 20px 0;
    margin-top: 20px;
}

.redes a {
    color: #c14d4d;
    margin: 0 5px;
    text-decoration: none;
}

.container {
  width: 100%;
  padding: 1rem;
}

/* Responsive.css */


/* Tablet */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

/* Desktop grande */
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}